<h1> Upload a street art photo</h1>
<form>
  <div class="editing">
    <input type="text" name="name" [(ngModel)]="newStreetart.name">
    <input type="text" name="author" [(ngModel)]="newStreetart.author">
    <select name="photo" [(ngModel)]="newStreetart.category">
      <option value="">- Pick one -</option>
      <option img src="../../../../public/images/image2.jpg">Streetart1</option>
      <option img src="../../../../public/images/image3.jpg">Streetart2</option>
      <option img src="../../../../public/images/image4.jpg">Streetart3</option>
    </select>
    <button (click)="handleAddClick()">Add!</button>
  </div>

  <div class="card preview">
    <h2>{{newStreetart.name}}</h2>
    <h3>{{newStreetart.author}}</h3>
    <img *ngIf="newCategory" [src]="imgs[newStreetart.category]">
  </div>

</form>

<section class="card-container">
  <div class="card" *ngFor="let item of streetArts">
    <h1>{{item.name}}</h1>
    <p>{{item.author}}</p>
    <img [src]="item.url" alt="">
  </div>
</section>
