<header id="site-header">
  
  <div class="container">

    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a [routerLink]="['/profile']">{{user.username}}</a>
        <a (click)="logout()">logout</a>
      </div>
      <div *ngIf="!loading && anon">
        <a [routerLink]="['/login']">login</a>
        <a [routerLink]="['/signup']">signup</a>
      </div>
    </div>

  </div>
  
</header>
<a [routerLink]="['/']">
  <img class= logo src="../assets/images/sticon.svg" alt="logo">
</a>
<main id="site-main">
  <router-outlet></router-outlet>
</main>

